<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core Topology</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <form action="/select_columns/{{filename}}/{{num}}"  target="_blank" method="post">
        <h1>Select Library</h1>
            <input type="radio" name="lib" value="ipy"> IpySigma<br>
            <input type="radio" name="lib" value="nx"> NetworkX<br>
        <h1>Select Source</h1>
        {% for column in columns %}
            <input type="radio" name="src" value="{{ column }}"> {{ column }}<br>
        {% endfor %}
        <h1>Select Destination </h1>
        {% for column in columns %}
            <input type="radio" name="dest" value="{{ column }}"> {{ column }}<br>
        {% endfor %}
        <h1>Select Edge Info</h1>
        {% for column in columns %}
            <input type="checkbox" name="columns" value="{{ column }}"> {{ column }}<br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script> 

</body>
</html>